<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.css" />
    {% endblock %}

    {% block title %}
        <title>Editer un producteur</title>
    {% endblock %}

    <link rel="icon" href="/image/favicon.png">
</head>

{% block body %}
    {{ include('producer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_producer_index') }}">back to list</a>

    {{ include('producer/_delete_form.html.twig') }}
{% endblock %}
