
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@font-face {
    font-family: "Amithen";
    src: url("../font/Amithen.otf") format("otf");
}

header{
    nav{
        border: 2px solid red;
        height: 70px;
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 5;

        a{
            img{
                height: 27px;
            }
        }

        ul{
            display: flex;
            list-style: none;
            align-items: center;

            li{
                padding: 0 15px 0 15px;

                a{
                    text-decoration: none;
                    color: #191A19;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: center;
                    letter-spacing: -0.03em;
                }
                a:hover::after{
                    width: 50%;
                    background: #36706B;
                }
                a::after{
                    content: '';
                    display: block;
                    margin: auto;
                    margin-top: 2px;
                    height: 1px;
                    width: 0;
                    background: transparent;
                    transition: width .5s ease, background-color .5s ease;
                }
            }
        }
        div.mobile-nav, a#burger, .mobile_link-group{
            display: none;
        }

        #burger {
            cursor: pointer;
        }

        .mobile_link-group {
            position: absolute;
            z-index: 4;
            right: 0;
            top: 0px;
            background: rgb(54, 112, 107);
            width: 320px;
            height: 700px;
            display: block;

            > a{
                padding: 73px 32px 95px 15px;
                cursor: pointer;
            }
        }

        .mobile_link-group li {
            text-align: right;
            padding: 25px 20px;
            cursor: pointer;
        }

        .mobile_link-group .social {
            cursor: auto;
        }
        div.mobile-nav{
            ul.mobile_link-group{
                li.mobile_link{
                    a{
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .headmain{
        padding: 120px 100px;
        #headcontainer{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            
            figure{
                width: 50%;
                
                img{
                    width: 100%;
                }
            }
            article{
                display: flex;
                flex-direction: column;
                width: 610px;
                justify-content: center;
                h1{
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 74px;
                    letter-spacing: -0.03em;
                    width: 610px;
    
                    position: relative;
                    svg{
                        position: absolute;
                        bottom: -10px;
                        left: 10px;
    
                    }
                }
                #headsubtitle{
                    margin-top: 48px;
                    p{
                     font-family: 'Raleway';
                     font-style: normal;
                     font-weight: 700;
                     font-size: 16px;
                     line-height: 24px;
                     span{
                         font-weight:bold;
                     }
                    }
                 }

                 #actions{
                    margin-top: 48px;
                    #button{
                        color: white;
                        width: 218px;
                        height: 56px;
                        border-radius: 32px;
                        background: #36706B;
                        transition: 300ms;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
            
                    }
            
                    #button:hover{
                        background: #F8961E;
                    }
                }

            }
            
            
        }
    }


}




@media (max-width: 1000px){
header{
    nav{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 5;
        position: initial;
        padding: 0 30px;

        .desktop_nav{
            display: none;
        }

        a{
            img{
                height: 27px;
            }
        }

        ul{
            display: flex;
            list-style: none;
            align-items: center;

            li{
                padding: 0 15px 0 15px;

                a{
                    text-decoration: none;
                    color: #191A19;
                    transition: 300ms;
                }
                a:hover::after{
                    width: 50%;
                    background: #36706B;
                }
                a::after{
                    content: '';
                    display: block;
                    margin: auto;
                    margin-top: 2px;
                    height: 1px;
                    width: 0;
                    background: transparent;
                    transition: width .5s ease, background-color .5s ease;
                }
            }
        }

        div.mobile-nav, #burger {
            display: block !important;
        }
        
        .mobile_link-group{
            display: none;
        }

        #burger {
            cursor: pointer;
        }

        .mobile_link-group {
            position: absolute;
            z-index: 4;
            right: 0;
            top: 0px;
            background: rgb(54, 112, 107);
            width: 320px;
            height: 700px;
            display: block;

            > a{
                padding: 73px 32px 95px 15px;
                cursor: pointer;
            }
        }

        .mobile_link-group li {
            text-align: right;
            padding: 25px 20px;
            cursor: pointer;
        }

        .mobile_link-group .social {
            cursor: auto;
        }
        div.mobile-nav{
            ul.mobile_link-group{
                flex-direction: column;
                align-items: flex-end;
                border-radius: 0px 0px 40px 40px;
                display: none;

                li.mobile_link{
                    a{
                        color: #FFFFFF;
                    }
                }
            }
        }
        .desktop_nav {
            display: none;
        }
    }
    .headmain{
        padding: 50px;
        #headcontainer{
            flex-direction: column;
            width: 350px;
            margin: 0 auto;
            figure{
                width: 100%;
            }
            article{
                
                h1{
                    font-size: 36px;
                    line-height: 41px;
                    width: 350px;
                    position: relative;
                    svg{
                        position: absolute;
                        bottom: -10px;
                        left: 10px;
                        width: 100px;
                    }
                }
                #headsubtitle{
                    margin-top: 48px;
                    p{
                        width: 350px;
                        font-size: 16px;
                        line-height: 24px;

                    }
                 }

                 #actions{

                    #button{
                        color: white;
                        width: 218px;
                        height: 56px;
                        border-radius: 32px;
                        background: #36706B;
                        transition: 300ms;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
            
                    }
            
                    #button:hover{
                        background: #F8961E;
                    }
                }
                
            }
            
            
           
            
        }
    }

}
#topfive{
    padding: 50px;
    background-color: #D6E2E1;
    .container{
        width: 350px;
        margin: 0 auto;
        h1{
            width: 224px;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            line-height: 33px;
            letter-spacing: -0.03em;

            position: relative;
            svg{
                position: absolute;
                top: -46px;
                right: 27px;
            }
        }
        p{
            margin-top: 24px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        .slider{
            margin-top: 30px;
            margin-bottom: 50px;
            article{
                background-color: #FFFFFF;
                border-radius: 0px 0px 32px 32px;
                img{
                    width: 100%;
                }
                div{
                    padding: 30px;
                    h1{
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: -0.03em;
                    }
                    p:nth-child(2){
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 19px;
                    }
                    p:nth-child(3){
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        
                        text-align: right;
                        a{
                            color: #33706B;
                        }
                    }
                }

            }
        }
        >a{
            padding: 16px 56px;
            background: #33706B;
            border-radius: 32px;
            border: none;
            color: #FFFFFF;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;

        }
        

    }
}
#aventure{
    padding: 50px;
    background-color: #D6E2E1;
    .container{
        width: 350px;
        margin: 0 auto;
        h1{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            line-height: 33px;
            letter-spacing: -0.03em;

            position: relative;
            svg{
                position: absolute;
            }
        }
        p{
            margin-top:30px;
            width: 285px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        form{
            margin-top: 50px;
            h1{
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
    
                letter-spacing: -0.03em;
            }
            div{
                margin-top: 32px;
                background-color: #FFFFFF;
                border-radius: 16px;
                padding: 10px;
                width: 350px;
                display: flex;
                justify-content: space-between;
                label{
                    padding: 20px 41px;
                    border-radius: 16px;

                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
                .active{
                    background: #33706B;
                    color: #FFFFFF;
                }
            }
            input{
                margin-top: 20px;
                width: 100%;
                border-radius: 16px;
                border: none;
                height: 76px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #B2B3B2;
                padding: 20px;
            }
            button{
                margin-top: 32px;
                padding: 16px 56px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                background: #33706B;
                color: #FFFFFF;
                border-radius: 32px;
                border: none;
            }

        }
    }

}
#visiter{
    padding: 50px;
    
    .container{
        width: 350px;
        margin: 0 auto;
        h1{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            line-height: 33px;
            letter-spacing: -0.03em;
            position: relative;

            svg{
                position: absolute;
            }
        }
        p{
            margin-top: 20px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        div{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            article{
                width: 322.18px;
                height: 333.09px;

                background: #33706B;
                border-radius: 32px;
            }
        }
    }
}


footer{
    background-color: #36706B;
    color: #FFFFFF;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
    h1{
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
    }
    &>p{
        margin-top: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
    }
    div.footer-container{
        margin-top: 80px;
        display: flex;
        flex-direction: column;

        div{
            display: flex;

            article{
                margin-top: 30px;
                p{
                    margin-top: 16px;
                }
            }
        }
        article:nth-child(1){
            font-weight: bold;
            > img{
                margin-bottom: 50px;
            }
            a{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                margin-top:16px;
                color: #FFFFFF;
                display: flex;
                align-items: flex-end;
                img{
                    margin-right: 10px;
                }
            }
            a:hover{
                color: #F8961E;
            }
        }

        article:nth-child(2){
            margin-top:50px;
            h1{
                font-size: 20px;
                margin-bottom: 20px;
            }
            p{
                    margin-top:16px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
            }
        }

        #footnews{
            margin-top:50px;
            width: 300px;
            h1{
                font-size: 20px;
                margin-bottom: 20px;
            }

            p{
                margin-top:16px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
            }

            #mc_embed_signup
            {
                #mc_embed_signup_scroll{
                    width: 300px;
                    .mc-field-group{
                        width: 80%;
                        #mce-EMAIL{
                            font-family: "Raleway", sans-serif;
                            margin-top: 20px;
                            padding: 20px 15px;
                            width: 97%;
                            box-sizing: border-box;
                            border: 1px solid var(--main-color-vert50);
                            border-radius: 8px;
                            color: #8C8D8C;
                            font-size: 16px;
                        }
                    }
                }

                #mc-embedded-subscribe{
                font-family: "Raleway", sans-serif;
                cursor: pointer;
                color: #33706B;
                background: white;
                padding: 10px 20px;
                border: 1px solid var(--main-color-vert50);
                border-radius: 8px;
                font-weight: 600;
                margin-top: 20px;
                transition: 300ms;
                }
                #mc-embedded-subscribe:hover{
                    color: white;
                    background: #F8961E;
                }
            }
            
            
            
        }
    }
    &>p:last-child{
        text-align: center;
        margin-top: 150px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
    }
    #back_top{

        position: absolute;
        bottom: -6200px;
        left: 90%;
        display: block;
        content: "";
        width: 27px;
        height: 75px;
         background-repeat:no-repeat;
         background-size: contain;

    }
}
}