{% extends 'base.html.twig' %}

{% block title %}New Discover{% endblock %}

{% block body %}
    <h1>Create new Discover</h1>

    {{ include('discover/_form.html.twig') }}

    <a href="{{ path('app_discover_index') }}">back to list</a>
{% endblock %}
