{% extends 'base.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block body %}
<div class="headmain">
    <div id="headcontainer">
        <figure>
            <img src="/image/Home_header.png" alt="loca logo">
        </figure>
        
        <article>
            <div id="headtitle">
                <h1>
                    LOCA : l’écosystème du tourisme culinaire
                    <svg width="237" height="11" viewBox="0 0 237 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M118.937 5.24422L118.816 5.25893H118.694C86.1362 5.25893 56.6688 5.63849 35.3486 6.25164C28.6051 6.44558 22.6845 6.66267 17.7433 6.89804C18.7821 6.95063 19.8745 7.00184 21.022 7.05155C35.145 7.66351 57.4204 8.04321 89.9828 8.04321C122.541 8.04321 159.192 7.66366 187.699 7.05014C201.954 6.74333 214.16 6.37828 222.795 5.97364C223.717 5.93046 224.597 5.88687 225.433 5.84293C219.769 4.90459 212.004 3.92374 202.541 3.19362C181.507 1.57072 152.154 1.19199 118.937 5.24422Z" stroke="#F28D00" stroke-width="4"/>
                        </svg>
                          
                </h1>
            </div>
    
            <div id="headsubtitle">
                
                <p> <span>Collectif de locavores</span> qui prône un mode de vie accès sur l’accessibilité et la consommation
                     de produits locaux en collaboration avec des agricultures passionnés.</p>
            </div>
    
            <div id="actions">
                <a href="#">
                    <p id="button">En savoir plus</p>
                </a>
            </div>
        </article>
        
    </div>
</div>
</header>
    <main>
        <section id="topfive">
            <div class="container">
                <h1>Notre top 5 </br> des circuits locaux
                    <svg width="104" height="70" viewBox="0 0 104 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1583_12188)">
                    <path d="M46.7833 37.7846L49.8655 17.8571C49.9341 17.4584 49.9213 17.0499 49.828 16.6563C49.7347 16.2626 49.5627 15.8919 49.3224 15.5664C49.0821 15.2409 48.7785 14.9674 48.4297 14.7623C48.081 14.5572 47.6944 14.4248 47.2931 14.373C46.8919 14.3212 46.4843 14.3511 46.0949 14.4608C45.7055 14.5706 45.3423 14.758 45.0272 15.0118C44.7121 15.2655 44.4516 15.5804 44.2614 15.9375C44.0711 16.2945 43.955 16.6863 43.9201 17.0894L40.8341 37.0261C40.7715 37.4226 40.7892 37.8277 40.886 38.2173C40.9829 38.6069 41.1569 38.9731 41.3979 39.2942C41.6388 39.6152 41.9418 39.8847 42.2888 40.0866C42.6358 40.2885 43.0198 40.4187 43.418 40.4694C43.8162 40.5202 44.2206 40.4905 44.6071 40.3822C44.9937 40.2738 45.3545 40.089 45.6683 39.8386C45.9821 39.5883 46.2425 39.2775 46.434 38.9247C46.6255 38.5718 46.7443 38.1842 46.7833 37.7846Z" fill="#F28D00"/>
                    <path d="M29.8191 38.2649C24.3122 30.8145 17.9999 23.9945 10.9968 17.9288C10.6892 17.666 10.3317 17.468 9.94571 17.3468C9.5597 17.2256 9.15321 17.1838 8.75062 17.2239C8.34803 17.2639 7.95766 17.3849 7.60305 17.5797C7.24845 17.7744 6.93694 18.0389 6.68719 18.3572C6.43745 18.6755 6.25465 19.041 6.14982 19.4318C6.04498 19.8225 6.02027 20.2305 6.07716 20.631C6.13405 21.0316 6.27135 21.4165 6.48085 21.7626C6.69034 22.1087 6.96765 22.4088 7.29615 22.645C13.8868 28.3812 19.8253 34.8262 25.0039 41.8634C27.302 44.9951 32.0973 41.3666 29.773 38.2456L29.8191 38.2649Z" fill="#F28D00"/>
                    <path d="M91.2378 59.311C87.6259 58.0466 84.0076 56.8229 80.2987 55.9191C76.7578 55.0987 73.1685 54.5034 69.5524 54.1367C69.1559 54.0742 68.7508 54.0919 68.3612 54.1887C67.9716 54.2856 67.6054 54.4596 67.2843 54.7006C66.9632 54.9415 66.6938 55.2445 66.4919 55.5915C66.29 55.9384 66.1598 56.3224 66.1091 56.7207C66.0583 57.1189 66.0879 57.5232 66.1963 57.9098C66.3046 58.2963 66.4895 58.6572 66.7398 58.971C66.9902 59.2848 67.301 59.5452 67.6538 59.7367C68.0066 59.9282 68.3943 60.047 68.7939 60.0859C72.3239 60.4545 75.829 61.0328 79.2903 61.8177L80.4021 62.0885C80.881 62.2134 79.9823 61.9777 80.4574 62.1117L81.0286 62.2752C81.805 62.4922 82.5831 62.7315 83.3572 62.9801C85.2713 63.5871 87.0976 64.2224 88.9516 64.8694C89.6872 65.1583 90.5058 65.1525 91.2372 64.8531C91.9685 64.5538 92.5563 63.9839 92.8781 63.2622C93.1856 62.5283 93.1891 61.7024 92.8877 60.9661C92.5863 60.2297 92.0047 59.6433 91.2708 59.3357L91.2378 59.311Z" fill="#F28D00"/>
                    <path d="M61.725 46.9419C66.534 41.2863 72.6913 36.9343 79.6275 34.2883C80.3361 33.9686 80.8929 33.3864 81.1806 32.6643C81.4684 31.9422 81.4647 31.1366 81.1702 30.4172C80.8757 29.6979 80.3135 29.1208 79.602 28.8078C78.8905 28.4947 78.0853 28.47 77.356 28.739C69.4649 31.7905 62.4679 36.7775 57.0088 43.2413C56.5172 43.8663 56.2939 44.661 56.3878 45.4506C56.4818 46.2402 56.8855 46.9602 57.5101 47.4524C58.1431 47.9266 58.9348 48.1383 59.72 48.0432C60.5053 47.9481 61.2235 47.5536 61.725 46.9419Z" fill="#F28D00"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1583_12188">
                    <rect width="96.78" height="34.39" fill="white" transform="translate(14.1937 0.521484) rotate(22.739)"/>
                    </clipPath>
                    </defs>
                    </svg>
                
                </h1>
                <p>Pour vous mettre en appétit on vous a concocté notre top 10 des circuits locaux. 
                    Vous y retrouverez toutes les informations pratiques comme les agriculteurs à recontrer, 
                    en passant par les produits que vous allez déguster et/ou les maisons d’hôtes qui vont vous accueillir dans une ambiance bien de chez eux.
                </p>

                <div class="slider">
                    <ul class="carousel-items">
                        <!-- for i 1->5 <li></li> -->
                        <li class="carousel-item">
                            <article>
                                <img src="/image/topfive.png" alt="">
                                <div>
                                    <h1>Dijon, de la moutarde au Cassis </h1>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a </p>
                                    <p><a href="">Découvrir</a>
                                            <svg width="44" height="42" viewBox="0 0 44 42">
                                            <g clip-path="url(#clip0_1608_11694)">
                                            <path d="M44 14.8629C43.8857 14.1344 43.8072 13.3989 43.6588 12.6791C42.671 8.1022 40.378 4.39742 36.4932 1.77761C35.4254 1.07091 34.2599 0.529144 33.035 0.170066C32.6938 0.0662422 32.4054 0.100849 32.2434 0.465962C32.0932 0.812041 32.2229 1.14082 32.6085 1.31732C33.8168 1.84882 34.9509 2.53942 35.9814 3.3713C39.1547 5.99804 41.2379 9.30829 42.0244 13.4076C42.5976 16.4029 42.195 19.2459 40.5827 21.8588C39.0199 24.38 36.7321 25.7661 33.8573 26.1935C32.5991 26.3735 31.3219 26.37 30.0647 26.1831C29.9316 25.2764 29.8378 24.3818 29.6689 23.5045C29.0052 20.0817 27.4749 17.0812 25.2911 14.4112C24.3101 13.2121 23.2659 12.0648 21.9915 11.1858C20.2649 9.99179 18.3865 9.60072 16.4296 10.5369C14.6997 11.3623 14.0121 12.8902 13.9985 14.7573C13.9797 17.1124 14.8754 19.1456 16.2778 20.9573C18.7943 24.2053 22.1484 26.2056 25.9616 27.4913C26.5962 27.7059 27.2462 27.8702 27.9167 28.064C27.7206 29.5792 27.2349 31.041 26.487 32.3675C23.8596 36.9704 19.8606 39.0711 14.6792 38.7094C11.1937 38.4655 8.32742 36.8181 6.03615 34.1481C5.92184 34.0166 5.81947 33.8764 5.69493 33.7519C5.62507 33.6736 5.54049 33.6104 5.44616 33.5658C5.35183 33.5213 5.24966 33.4964 5.14568 33.4925C5.04169 33.4886 4.938 33.5059 4.8407 33.5433C4.7434 33.5807 4.65447 33.6375 4.57915 33.7103C4.23793 34.008 4.17651 34.4025 4.47167 34.7866C6.68958 37.7058 9.41932 39.8913 13.0209 40.7842C15.6244 41.4296 18.1716 41.1406 20.63 40.1093C23.8426 38.7614 26.4307 36.6485 28.2204 33.5806C29.0553 32.1708 29.6057 30.6068 29.8395 28.9794C29.8651 28.7943 29.906 28.6126 29.9316 28.4603C30.9553 28.4603 31.9533 28.507 32.9463 28.4603C36.0616 28.2873 38.8425 27.2975 40.9359 24.8265C42.543 22.923 43.4643 20.7029 43.8362 18.2371C43.8931 17.8691 43.95 17.5006 44.0068 17.1314L44 14.8629ZM27.985 25.8145C27.9031 25.7972 27.8502 25.792 27.799 25.7765C23.6583 24.579 20.1335 22.4143 17.3799 19.0106C15.8905 17.1712 15.5954 15.2141 16.6565 13.0684C17.2588 11.8485 18.1272 11.4747 19.3317 12.0562C20.1151 12.4074 20.8461 12.8681 21.5035 13.4249C24.2094 15.863 26.0349 18.9258 27.2616 22.3641C27.66 23.4745 27.9035 24.6358 27.985 25.8145Z"/>
                                            <path d="M1.89035 32.5266C3.44801 32.5266 4.8453 32.5127 6.24258 32.5266C6.68446 32.5266 7.12292 32.6373 7.56309 32.6857C8.05445 32.7394 8.4315 32.4816 8.49633 32.0611C8.55092 31.689 8.32572 31.4312 7.83607 31.3066C5.6284 30.746 3.37636 30.5972 1.11238 30.5781C0.373641 30.5781 -0.00852585 31.0125 4.76837e-06 31.7565C0.0228786 33.7316 0.220444 35.7006 0.590314 37.6399C0.689268 38.1746 0.85305 38.6781 1.33417 39.0086C1.99442 39.4516 2.66833 39.1574 2.73145 38.358C2.7418 37.9112 2.70116 37.4647 2.61033 37.0273C2.38342 35.5599 2.14115 34.0926 1.89035 32.5266Z"/>
                                            </g>
                                            <defs>
                                            </defs>
                                            </svg>
                                    </p>
                                </div>
                            </article>
                        </li>

                        <li class="carousel-item">
                            <article>
                                <img src="/image/topfive.png" alt="">
                                <div>
                                    <h1>Dijon, de la moutarde au Cassis </h1>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a </p>
                                    <p><a href="">Découvrir</a>
                                            <svg width="44" height="42" viewBox="0 0 44 42">
                                            <g clip-path="url(#clip0_1608_11694)">
                                            <path d="M44 14.8629C43.8857 14.1344 43.8072 13.3989 43.6588 12.6791C42.671 8.1022 40.378 4.39742 36.4932 1.77761C35.4254 1.07091 34.2599 0.529144 33.035 0.170066C32.6938 0.0662422 32.4054 0.100849 32.2434 0.465962C32.0932 0.812041 32.2229 1.14082 32.6085 1.31732C33.8168 1.84882 34.9509 2.53942 35.9814 3.3713C39.1547 5.99804 41.2379 9.30829 42.0244 13.4076C42.5976 16.4029 42.195 19.2459 40.5827 21.8588C39.0199 24.38 36.7321 25.7661 33.8573 26.1935C32.5991 26.3735 31.3219 26.37 30.0647 26.1831C29.9316 25.2764 29.8378 24.3818 29.6689 23.5045C29.0052 20.0817 27.4749 17.0812 25.2911 14.4112C24.3101 13.2121 23.2659 12.0648 21.9915 11.1858C20.2649 9.99179 18.3865 9.60072 16.4296 10.5369C14.6997 11.3623 14.0121 12.8902 13.9985 14.7573C13.9797 17.1124 14.8754 19.1456 16.2778 20.9573C18.7943 24.2053 22.1484 26.2056 25.9616 27.4913C26.5962 27.7059 27.2462 27.8702 27.9167 28.064C27.7206 29.5792 27.2349 31.041 26.487 32.3675C23.8596 36.9704 19.8606 39.0711 14.6792 38.7094C11.1937 38.4655 8.32742 36.8181 6.03615 34.1481C5.92184 34.0166 5.81947 33.8764 5.69493 33.7519C5.62507 33.6736 5.54049 33.6104 5.44616 33.5658C5.35183 33.5213 5.24966 33.4964 5.14568 33.4925C5.04169 33.4886 4.938 33.5059 4.8407 33.5433C4.7434 33.5807 4.65447 33.6375 4.57915 33.7103C4.23793 34.008 4.17651 34.4025 4.47167 34.7866C6.68958 37.7058 9.41932 39.8913 13.0209 40.7842C15.6244 41.4296 18.1716 41.1406 20.63 40.1093C23.8426 38.7614 26.4307 36.6485 28.2204 33.5806C29.0553 32.1708 29.6057 30.6068 29.8395 28.9794C29.8651 28.7943 29.906 28.6126 29.9316 28.4603C30.9553 28.4603 31.9533 28.507 32.9463 28.4603C36.0616 28.2873 38.8425 27.2975 40.9359 24.8265C42.543 22.923 43.4643 20.7029 43.8362 18.2371C43.8931 17.8691 43.95 17.5006 44.0068 17.1314L44 14.8629ZM27.985 25.8145C27.9031 25.7972 27.8502 25.792 27.799 25.7765C23.6583 24.579 20.1335 22.4143 17.3799 19.0106C15.8905 17.1712 15.5954 15.2141 16.6565 13.0684C17.2588 11.8485 18.1272 11.4747 19.3317 12.0562C20.1151 12.4074 20.8461 12.8681 21.5035 13.4249C24.2094 15.863 26.0349 18.9258 27.2616 22.3641C27.66 23.4745 27.9035 24.6358 27.985 25.8145Z"/>
                                            <path d="M1.89035 32.5266C3.44801 32.5266 4.8453 32.5127 6.24258 32.5266C6.68446 32.5266 7.12292 32.6373 7.56309 32.6857C8.05445 32.7394 8.4315 32.4816 8.49633 32.0611C8.55092 31.689 8.32572 31.4312 7.83607 31.3066C5.6284 30.746 3.37636 30.5972 1.11238 30.5781C0.373641 30.5781 -0.00852585 31.0125 4.76837e-06 31.7565C0.0228786 33.7316 0.220444 35.7006 0.590314 37.6399C0.689268 38.1746 0.85305 38.6781 1.33417 39.0086C1.99442 39.4516 2.66833 39.1574 2.73145 38.358C2.7418 37.9112 2.70116 37.4647 2.61033 37.0273C2.38342 35.5599 2.14115 34.0926 1.89035 32.5266Z"/>
                                            </g>
                                            <defs>
                                            </defs>
                                            </svg>
                                    </p>
                                </div>
                            </article>
                        </li>

                        <li class="carousel-item">
                            <article>
                                <img src="/image/topfive.png" alt="">
                                <div>
                                    <h1>Dijon, de la moutarde au Cassis </h1>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a </p>
                                    <p><a href="">Découvrir</a>
                                            <svg width="44" height="42" viewBox="0 0 44 42">
                                            <g clip-path="url(#clip0_1608_11694)">
                                            <path d="M44 14.8629C43.8857 14.1344 43.8072 13.3989 43.6588 12.6791C42.671 8.1022 40.378 4.39742 36.4932 1.77761C35.4254 1.07091 34.2599 0.529144 33.035 0.170066C32.6938 0.0662422 32.4054 0.100849 32.2434 0.465962C32.0932 0.812041 32.2229 1.14082 32.6085 1.31732C33.8168 1.84882 34.9509 2.53942 35.9814 3.3713C39.1547 5.99804 41.2379 9.30829 42.0244 13.4076C42.5976 16.4029 42.195 19.2459 40.5827 21.8588C39.0199 24.38 36.7321 25.7661 33.8573 26.1935C32.5991 26.3735 31.3219 26.37 30.0647 26.1831C29.9316 25.2764 29.8378 24.3818 29.6689 23.5045C29.0052 20.0817 27.4749 17.0812 25.2911 14.4112C24.3101 13.2121 23.2659 12.0648 21.9915 11.1858C20.2649 9.99179 18.3865 9.60072 16.4296 10.5369C14.6997 11.3623 14.0121 12.8902 13.9985 14.7573C13.9797 17.1124 14.8754 19.1456 16.2778 20.9573C18.7943 24.2053 22.1484 26.2056 25.9616 27.4913C26.5962 27.7059 27.2462 27.8702 27.9167 28.064C27.7206 29.5792 27.2349 31.041 26.487 32.3675C23.8596 36.9704 19.8606 39.0711 14.6792 38.7094C11.1937 38.4655 8.32742 36.8181 6.03615 34.1481C5.92184 34.0166 5.81947 33.8764 5.69493 33.7519C5.62507 33.6736 5.54049 33.6104 5.44616 33.5658C5.35183 33.5213 5.24966 33.4964 5.14568 33.4925C5.04169 33.4886 4.938 33.5059 4.8407 33.5433C4.7434 33.5807 4.65447 33.6375 4.57915 33.7103C4.23793 34.008 4.17651 34.4025 4.47167 34.7866C6.68958 37.7058 9.41932 39.8913 13.0209 40.7842C15.6244 41.4296 18.1716 41.1406 20.63 40.1093C23.8426 38.7614 26.4307 36.6485 28.2204 33.5806C29.0553 32.1708 29.6057 30.6068 29.8395 28.9794C29.8651 28.7943 29.906 28.6126 29.9316 28.4603C30.9553 28.4603 31.9533 28.507 32.9463 28.4603C36.0616 28.2873 38.8425 27.2975 40.9359 24.8265C42.543 22.923 43.4643 20.7029 43.8362 18.2371C43.8931 17.8691 43.95 17.5006 44.0068 17.1314L44 14.8629ZM27.985 25.8145C27.9031 25.7972 27.8502 25.792 27.799 25.7765C23.6583 24.579 20.1335 22.4143 17.3799 19.0106C15.8905 17.1712 15.5954 15.2141 16.6565 13.0684C17.2588 11.8485 18.1272 11.4747 19.3317 12.0562C20.1151 12.4074 20.8461 12.8681 21.5035 13.4249C24.2094 15.863 26.0349 18.9258 27.2616 22.3641C27.66 23.4745 27.9035 24.6358 27.985 25.8145Z"/>
                                            <path d="M1.89035 32.5266C3.44801 32.5266 4.8453 32.5127 6.24258 32.5266C6.68446 32.5266 7.12292 32.6373 7.56309 32.6857C8.05445 32.7394 8.4315 32.4816 8.49633 32.0611C8.55092 31.689 8.32572 31.4312 7.83607 31.3066C5.6284 30.746 3.37636 30.5972 1.11238 30.5781C0.373641 30.5781 -0.00852585 31.0125 4.76837e-06 31.7565C0.0228786 33.7316 0.220444 35.7006 0.590314 37.6399C0.689268 38.1746 0.85305 38.6781 1.33417 39.0086C1.99442 39.4516 2.66833 39.1574 2.73145 38.358C2.7418 37.9112 2.70116 37.4647 2.61033 37.0273C2.38342 35.5599 2.14115 34.0926 1.89035 32.5266Z"/>
                                            </g>
                                            <defs>
                                            </defs>
                                            </svg>
                                    </p>
                                </div>
                            </article>
                        </li>
                    </ul>
                    
                </div>
                <a href="">Accéder à tous les parcours</a>
        </div>
        </section>

        <section id="aventure">
            <div class="container">
                <figure>
                    <img src="/image/aventure_photo.png" alt="aventure">
                </figure>
                
                <h1>Prêt pour l’aventure ?
                    <svg viewBox="0 0 351 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_114_252)">
                        <path d="M246.908 6.1267C238.64 3.18753 214.39 2.00771 210.255 1.7637C143.796 -2.13004 73.3187 8.41955 25.0468 33.098C16.4433 37.5038 8.37117 42.585 4.12866 49.1797C-16.5362 81.6746 70.0166 95.107 104.938 98.1976C148.676 102.123 192.711 101.979 236.423 97.7685C257.359 95.7659 278.162 92.6476 298.735 88.4282C321.078 83.7868 356.196 79.5711 349.107 58.6976C346.788 51.8572 340.266 45.4312 332.27 40.1068C296.542 16.3224 240.476 15.0175 197.107 18.1157C191.906 18.4856 185.433 17.9249 185.733 21.2811C209.955 20.0099 237.09 17.6705 261.913 20.1455C286.737 22.6205 312.665 30.1755 330.959 42.2284C341.807 49.3747 349.133 63.6379 342.557 71.2512C338.797 75.6126 331.057 78.2988 323.693 80.1826C257.301 97.1567 178.379 102.46 102.552 95.4491C78.3588 93.2104 51.9503 88.4897 30.183 80.0057C17.6145 75.0967 5.17548 67.0114 5.49669 58.3408C5.65172 53.829 9.96647 47.9494 14.0497 44.5598C41.0784 22.0871 89.831 10.0729 134.484 5.59711C155.043 3.45776 175.748 2.8831 196.402 3.87856C208.277 4.48835 220.204 5.70836 232.361 6.85133C236.047 7.19219 246.939 9.34072 248.224 8.55445C250.566 7.09711 249.728 7.12847 246.908 6.1267Z" fill="#F8961E"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_114_252">
                        <rect width="349" height="100" fill="white" transform="translate(0.837708 1.56982) rotate(-0.187005)"/>
                        </clipPath>
                        </defs>
                    </svg>
                </h1>

                <p>Voyageur locavores curieux ou même futur partenaire agriculteur, 
                    inscrivez-vous pour avoir plus d’informations sur le futur de LOCA.
                </p>
                
                <form action="">
                    <h1>Vous êtes :</h1>
                    <div>
                        <label for="Vacancier"  class="active">
                            <input style="display:none;" id="Vacancier" name="Vacancier" type="radio" value="0">
                            Vacancier
                        </label>
    
                        <label for="Producteur">
                            <input style="display:none;" id="Producteur" name="Producteur" type="radio" value="1">
                            Producteur
                        </label>
                    </div>
                    <p>Adresse email</p>
                    <input type="text" value="Adresse Mail*">
                    <button>Envoyer</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
