{% extends 'base.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block body %}
<div class="headmain">
    <div id="headcontainer">
        <figure>
            <img src="/image/Home_header.png" alt="loca logo">
        </figure>
        
        <article>
            <div id="headtitle">
                <h1>
                    LOCA : l’écosystème du tourisme culinaire
                    <svg width="237" height="11" viewBox="0 0 237 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M118.937 5.24422L118.816 5.25893H118.694C86.1362 5.25893 56.6688 5.63849 35.3486 6.25164C28.6051 6.44558 22.6845 6.66267 17.7433 6.89804C18.7821 6.95063 19.8745 7.00184 21.022 7.05155C35.145 7.66351 57.4204 8.04321 89.9828 8.04321C122.541 8.04321 159.192 7.66366 187.699 7.05014C201.954 6.74333 214.16 6.37828 222.795 5.97364C223.717 5.93046 224.597 5.88687 225.433 5.84293C219.769 4.90459 212.004 3.92374 202.541 3.19362C181.507 1.57072 152.154 1.19199 118.937 5.24422Z" stroke="#F28D00" stroke-width="4"/>
                        </svg>
                          
                </h1>
            </div>
    
            <div id="headsubtitle">
                
                <p> <span>Collectif de locavores</span> qui prône un mode de vie accès sur l’accessibilité et la consommation
                     de produits locaux en collaboration avec des agricultures passionnés.</p>
            </div>
    
            <div id="actions">
                <a href="#">
                    <p id="button">En savoir plus</p>
                </a>
            </div>
        </article>
        
    </div>
</div>
</header>
    <main>
        <section id="topfive">
            <div class="container">
                <h1>Notre top 5 </br> des circuits locaux
                    <svg width="104" height="70" viewBox="0 0 104 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1583_12188)">
                    <path d="M46.7833 37.7846L49.8655 17.8571C49.9341 17.4584 49.9213 17.0499 49.828 16.6563C49.7347 16.2626 49.5627 15.8919 49.3224 15.5664C49.0821 15.2409 48.7785 14.9674 48.4297 14.7623C48.081 14.5572 47.6944 14.4248 47.2931 14.373C46.8919 14.3212 46.4843 14.3511 46.0949 14.4608C45.7055 14.5706 45.3423 14.758 45.0272 15.0118C44.7121 15.2655 44.4516 15.5804 44.2614 15.9375C44.0711 16.2945 43.955 16.6863 43.9201 17.0894L40.8341 37.0261C40.7715 37.4226 40.7892 37.8277 40.886 38.2173C40.9829 38.6069 41.1569 38.9731 41.3979 39.2942C41.6388 39.6152 41.9418 39.8847 42.2888 40.0866C42.6358 40.2885 43.0198 40.4187 43.418 40.4694C43.8162 40.5202 44.2206 40.4905 44.6071 40.3822C44.9937 40.2738 45.3545 40.089 45.6683 39.8386C45.9821 39.5883 46.2425 39.2775 46.434 38.9247C46.6255 38.5718 46.7443 38.1842 46.7833 37.7846Z" fill="#F28D00"/>
                    <path d="M29.8191 38.2649C24.3122 30.8145 17.9999 23.9945 10.9968 17.9288C10.6892 17.666 10.3317 17.468 9.94571 17.3468C9.5597 17.2256 9.15321 17.1838 8.75062 17.2239C8.34803 17.2639 7.95766 17.3849 7.60305 17.5797C7.24845 17.7744 6.93694 18.0389 6.68719 18.3572C6.43745 18.6755 6.25465 19.041 6.14982 19.4318C6.04498 19.8225 6.02027 20.2305 6.07716 20.631C6.13405 21.0316 6.27135 21.4165 6.48085 21.7626C6.69034 22.1087 6.96765 22.4088 7.29615 22.645C13.8868 28.3812 19.8253 34.8262 25.0039 41.8634C27.302 44.9951 32.0973 41.3666 29.773 38.2456L29.8191 38.2649Z" fill="#F28D00"/>
                    <path d="M91.2378 59.311C87.6259 58.0466 84.0076 56.8229 80.2987 55.9191C76.7578 55.0987 73.1685 54.5034 69.5524 54.1367C69.1559 54.0742 68.7508 54.0919 68.3612 54.1887C67.9716 54.2856 67.6054 54.4596 67.2843 54.7006C66.9632 54.9415 66.6938 55.2445 66.4919 55.5915C66.29 55.9384 66.1598 56.3224 66.1091 56.7207C66.0583 57.1189 66.0879 57.5232 66.1963 57.9098C66.3046 58.2963 66.4895 58.6572 66.7398 58.971C66.9902 59.2848 67.301 59.5452 67.6538 59.7367C68.0066 59.9282 68.3943 60.047 68.7939 60.0859C72.3239 60.4545 75.829 61.0328 79.2903 61.8177L80.4021 62.0885C80.881 62.2134 79.9823 61.9777 80.4574 62.1117L81.0286 62.2752C81.805 62.4922 82.5831 62.7315 83.3572 62.9801C85.2713 63.5871 87.0976 64.2224 88.9516 64.8694C89.6872 65.1583 90.5058 65.1525 91.2372 64.8531C91.9685 64.5538 92.5563 63.9839 92.8781 63.2622C93.1856 62.5283 93.1891 61.7024 92.8877 60.9661C92.5863 60.2297 92.0047 59.6433 91.2708 59.3357L91.2378 59.311Z" fill="#F28D00"/>
                    <path d="M61.725 46.9419C66.534 41.2863 72.6913 36.9343 79.6275 34.2883C80.3361 33.9686 80.8929 33.3864 81.1806 32.6643C81.4684 31.9422 81.4647 31.1366 81.1702 30.4172C80.8757 29.6979 80.3135 29.1208 79.602 28.8078C78.8905 28.4947 78.0853 28.47 77.356 28.739C69.4649 31.7905 62.4679 36.7775 57.0088 43.2413C56.5172 43.8663 56.2939 44.661 56.3878 45.4506C56.4818 46.2402 56.8855 46.9602 57.5101 47.4524C58.1431 47.9266 58.9348 48.1383 59.72 48.0432C60.5053 47.9481 61.2235 47.5536 61.725 46.9419Z" fill="#F28D00"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1583_12188">
                    <rect width="96.78" height="34.39" fill="white" transform="translate(14.1937 0.521484) rotate(22.739)"/>
                    </clipPath>
                    </defs>
                    </svg>
                
                </h1>
                <p>Pour vous mettre en appétit on vous a concocté notre top 10 des circuits locaux. 
                    Vous y retrouverez toutes les informations pratiques comme les agriculteurs à recontrer, 
                    en passant par les produits que vous allez déguster et/ou les maisons d’hôtes qui vont vous accueillir dans une ambiance bien de chez eux.
                </p>

                <div class="slider">
                    <article>
                        <img src="/image/topfive.png" alt="">
                        <div>
                            <h1>Dijon, de la moutarde au Cassis </h1>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a </p>
                            <p><a href="">Découvrir</a>
                                    <svg width="44" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1608_11694)">
                                    <path d="M44 14.8629C43.8857 14.1344 43.8072 13.3989 43.6588 12.6791C42.671 8.1022 40.378 4.39742 36.4932 1.77761C35.4254 1.07091 34.2599 0.529144 33.035 0.170066C32.6938 0.0662422 32.4054 0.100849 32.2434 0.465962C32.0932 0.812041 32.2229 1.14082 32.6085 1.31732C33.8168 1.84882 34.9509 2.53942 35.9814 3.3713C39.1547 5.99804 41.2379 9.30829 42.0244 13.4076C42.5976 16.4029 42.195 19.2459 40.5827 21.8588C39.0199 24.38 36.7321 25.7661 33.8573 26.1935C32.5991 26.3735 31.3219 26.37 30.0647 26.1831C29.9316 25.2764 29.8378 24.3818 29.6689 23.5045C29.0052 20.0817 27.4749 17.0812 25.2911 14.4112C24.3101 13.2121 23.2659 12.0648 21.9915 11.1858C20.2649 9.99179 18.3865 9.60072 16.4296 10.5369C14.6997 11.3623 14.0121 12.8902 13.9985 14.7573C13.9797 17.1124 14.8754 19.1456 16.2778 20.9573C18.7943 24.2053 22.1484 26.2056 25.9616 27.4913C26.5962 27.7059 27.2462 27.8702 27.9167 28.064C27.7206 29.5792 27.2349 31.041 26.487 32.3675C23.8596 36.9704 19.8606 39.0711 14.6792 38.7094C11.1937 38.4655 8.32742 36.8181 6.03615 34.1481C5.92184 34.0166 5.81947 33.8764 5.69493 33.7519C5.62507 33.6736 5.54049 33.6104 5.44616 33.5658C5.35183 33.5213 5.24966 33.4964 5.14568 33.4925C5.04169 33.4886 4.938 33.5059 4.8407 33.5433C4.7434 33.5807 4.65447 33.6375 4.57915 33.7103C4.23793 34.008 4.17651 34.4025 4.47167 34.7866C6.68958 37.7058 9.41932 39.8913 13.0209 40.7842C15.6244 41.4296 18.1716 41.1406 20.63 40.1093C23.8426 38.7614 26.4307 36.6485 28.2204 33.5806C29.0553 32.1708 29.6057 30.6068 29.8395 28.9794C29.8651 28.7943 29.906 28.6126 29.9316 28.4603C30.9553 28.4603 31.9533 28.507 32.9463 28.4603C36.0616 28.2873 38.8425 27.2975 40.9359 24.8265C42.543 22.923 43.4643 20.7029 43.8362 18.2371C43.8931 17.8691 43.95 17.5006 44.0068 17.1314L44 14.8629ZM27.985 25.8145C27.9031 25.7972 27.8502 25.792 27.799 25.7765C23.6583 24.579 20.1335 22.4143 17.3799 19.0106C15.8905 17.1712 15.5954 15.2141 16.6565 13.0684C17.2588 11.8485 18.1272 11.4747 19.3317 12.0562C20.1151 12.4074 20.8461 12.8681 21.5035 13.4249C24.2094 15.863 26.0349 18.9258 27.2616 22.3641C27.66 23.4745 27.9035 24.6358 27.985 25.8145Z" fill="#33706B"/>
                                    <path d="M1.89035 32.5266C3.44801 32.5266 4.8453 32.5127 6.24258 32.5266C6.68446 32.5266 7.12292 32.6373 7.56309 32.6857C8.05445 32.7394 8.4315 32.4816 8.49633 32.0611C8.55092 31.689 8.32572 31.4312 7.83607 31.3066C5.6284 30.746 3.37636 30.5972 1.11238 30.5781C0.373641 30.5781 -0.00852585 31.0125 4.76837e-06 31.7565C0.0228786 33.7316 0.220444 35.7006 0.590314 37.6399C0.689268 38.1746 0.85305 38.6781 1.33417 39.0086C1.99442 39.4516 2.66833 39.1574 2.73145 38.358C2.7418 37.9112 2.70116 37.4647 2.61033 37.0273C2.38342 35.5599 2.14115 34.0926 1.89035 32.5266Z" fill="#33706B"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1608_11694">
                                    <rect width="44" height="41" fill="white" transform="matrix(-1 0 0 1 44 0.126953)"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                            </p>
                        </div>

                    </article>
                </div>
                <a href="">Accéder à tous les parcours</a>
        </div>
        </section>

        <section id="aventure">
            <div class="container">
                <h1>Prêt pour l’aventure ?
                    <svg width="157" height="52" viewBox="0 0 157 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M94.1489 1.13578L94.1491 1.13579C94.27 1.14375 94.4306 1.15376 94.626 1.16595C95.8985 1.24533 98.6492 1.41692 101.571 1.7128C103.257 1.88346 105.004 2.09598 106.563 2.35698C108.113 2.61672 109.504 2.92878 110.46 3.30607C110.596 3.35952 110.736 3.41236 110.865 3.46118C111.004 3.51357 111.13 3.56134 111.226 3.6003C111.328 3.64167 111.427 3.68547 111.514 3.73345C111.596 3.77863 111.699 3.84523 111.78 3.94476C111.873 4.06025 111.933 4.21792 111.904 4.39809C111.879 4.5524 111.796 4.67058 111.729 4.74904C111.597 4.90366 111.381 5.0652 111.127 5.24002L111.124 5.24197C111.021 5.31224 110.905 5.34481 110.815 5.36275C110.719 5.38202 110.613 5.39186 110.506 5.39622C110.291 5.40496 110.03 5.3931 109.745 5.36884C109.172 5.32016 108.454 5.21716 107.714 5.0988C107.179 5.01313 106.634 4.91995 106.119 4.83178C105.188 4.67254 104.352 4.52962 103.838 4.47673L103.838 4.47666C103.083 4.39772 102.331 4.31808 101.58 4.23867C96.9894 3.75267 92.477 3.27499 87.9813 3.01744C78.8864 2.52827 69.7694 2.80571 60.7164 3.84714L60.7147 3.84734C50.8802 4.93698 40.6015 6.94641 31.2999 10.0511C21.9939 13.1573 13.6929 17.351 7.78897 22.7934L7.78872 22.7937C6.91905 23.5941 6.01858 24.6954 5.32944 25.8633C4.63588 27.0387 4.18232 28.2377 4.15159 29.2393L4.15156 29.2403C4.08764 31.1716 5.3089 33.1104 7.32651 34.9034C9.33146 36.6851 12.0489 38.2548 14.7981 39.4462C24.3547 43.5791 35.9677 45.8877 46.627 46.9851C80.0595 50.4239 114.849 47.8423 144.101 39.5591C145.716 39.1015 147.356 38.5507 148.792 37.8557C150.233 37.1586 151.436 36.3315 152.209 35.3375L152.209 35.3373C153.525 33.6475 153.493 31.1534 152.471 28.5646C151.456 25.9903 149.499 23.4342 147.168 21.7314C139.166 15.8837 127.794 12.1991 116.885 10.9892C107.73 9.97391 97.8607 10.6099 88.5904 11.2072C86.809 11.322 85.0498 11.4354 83.322 11.5353L82.9074 11.5593L82.8739 11.1454C82.8283 10.5833 83.051 10.151 83.4524 9.85805C83.8206 9.58933 84.3189 9.45137 84.8292 9.36896C85.3487 9.28506 85.9393 9.25058 86.5283 9.22537C86.6733 9.21916 86.8181 9.21352 86.9623 9.2079C87.413 9.19033 87.858 9.17298 88.2854 9.13943M94.1489 1.13578L14.6294 39.8362C24.2411 43.993 35.9015 46.3082 46.5835 47.4078C80.0629 50.8515 114.907 48.2676 144.217 39.968C147.468 39.0468 150.885 37.733 152.545 35.5984C155.447 31.8723 152.21 24.8884 147.419 21.3882C139.34 15.4848 127.892 11.7823 116.931 10.5668C107.736 9.54699 97.8225 10.1861 88.553 10.7836C86.7742 10.8983 85.0192 11.0114 83.2975 11.111C83.2957 11.0891 83.2945 11.0676 83.2937 11.0464L83.2729 10.6867C83.2955 10.6854 83.318 10.6841 83.3406 10.6828C83.6372 9.76281 85.2761 9.69895 86.9726 9.63283C87.4253 9.61519 87.8821 9.5974 88.3186 9.56313M94.1489 1.13578C64.752 -0.78414 33.5476 4.37434 12.145 16.5016L12.1447 16.5018C8.34192 18.6602 4.6877 21.1934 2.75374 24.5279L2.75269 24.5298C1.57679 26.5808 1.14648 28.5143 1.36165 30.3272C1.57657 32.1381 2.43011 33.7837 3.74318 35.2708C6.35654 38.2305 10.8433 40.6224 16.0303 42.541C26.4222 46.3849 39.8728 48.4162 47.595 49.1767M94.1489 1.13578L3.12139 24.7411C-5.99739 40.6461 32.2186 47.2354 47.6372 48.7538M88.2854 9.13943L88.3186 9.56313M88.2854 9.13943L88.3186 9.56313M88.2854 9.13943C97.8754 8.38311 108.884 8.16569 119.479 9.60053C130.071 11.0349 140.282 14.1246 148.25 20.0079L148.03 20.3059L148.25 20.0079C151.809 22.6363 154.776 25.8512 155.841 29.3293M88.3186 9.56313C107.466 8.05305 132.22 8.70047 147.998 20.3498C151.529 22.9576 154.409 26.1046 155.434 29.4537C158.239 38.6038 146.105 41.2117 136.454 43.2857C135.326 43.5282 134.232 43.7633 133.199 44.0008C124.117 46.0633 114.932 47.5867 105.689 48.5639C86.3905 50.6186 66.9486 50.6823 47.6372 48.7538M155.841 29.3293L155.436 29.4531L155.841 29.3291C155.841 29.3292 155.841 29.3292 155.841 29.3293ZM155.841 29.3293C156.659 31.9973 156.266 34.1802 155.017 35.963C153.785 37.7216 151.749 39.0473 149.362 40.0979C145.588 41.7585 140.783 42.7908 136.518 43.707C135.396 43.9479 134.312 44.1808 133.294 44.415L133.293 44.4153C124.195 46.4814 114.994 48.0075 105.734 48.9865M105.734 48.9865L105.689 48.5641L105.734 48.9865C105.734 48.9865 105.734 48.9865 105.734 48.9865ZM105.734 48.9865C86.4065 51.0443 66.9353 51.108 47.595 49.1767M47.595 49.1767C47.5951 49.1767 47.5953 49.1767 47.5955 49.1767L47.6372 48.7538M47.595 49.1767L47.6372 48.7538" fill="#F28D00" stroke="#F28D00" stroke-width="0.85"/>
                    </svg>
                </h1>

                <p>Voyageur locavores curieux ou même futur partenaire agriculteur, 
                    inscrivez-vous pour avoir plus d’informations sur le futur de LOCA.
                </p>
                
                <form action="">
                    <h1>Vous êtes :</h1>
                    <div>
                        <label for="Vacancier1"  class="active">
                            <input style="display:none;" id="Vacancier1" name="Vacancier" type="radio" value="0">
                            Vacancier1
                        </label>
    
                        <label for="Vacancier2">
                            <input style="display:none;" id="Vacancier2" name="Vacancier" type="radio" value="1">
                            Vacancier2
                        </label>
                    </div>
                    <input type="text" value="exemple.loca@contact.com">
                    <button>Envoyer</button>
                </form>
            </div>
        </section>
        <section id="visiter">
            <div class="container">
                <h1>Régions à visiter
                    <svg width="80" height="8" viewBox="0 0 80 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.5024 4.874L40.2866 4.92228H40.0656C34.4409 4.92228 29.0934 4.98399 24.2526 5.09506C26.1598 5.11281 28.1993 5.12207 30.3769 5.12207C41.3444 5.12207 53.6906 4.88745 63.2867 4.50858C66.2015 4.3935 68.8537 4.26544 71.1315 4.12726C70.2035 3.94822 69.2017 3.7792 68.1312 3.62768C61.1993 2.64654 51.4945 2.41402 40.5024 4.874Z" stroke="#F28D00" stroke-width="4"/>
                        </svg>
                </h1>
                <p>Voyageur locavores curieux ou même futur partenaire agriculteur, </p>
                <div>
                    <article>
                        <p>Bordeaux</p>
                    </article>
                </div>
                
            </div>
            
        </section>
    </main>
{% endblock %}
